@font-face {
  font-family: HFNSS;
  src: url("./hfnss.ttf");
}
@font-face {
  font-family: HFGAM;
  src: url("./HFGAM.ttf");
}
@font-face {
  font-family: HFTIN;
  src: url("./HFTIN.ttf");
}
body {
  background-color: #030907;
  margin: 0;
  padding: 0;
}
.main {
  margin: auto;
  width: 1363;
}
.row {
  height: 13px;
  width: 100%;
  margin: 2px;
  margin-left: 1px;
  float: left;
}
.column {
  width: 40px;
  height: 13px;
  border: 1px #54574d solid;
  margin: 1px;
  float: left;
}
.column.highlight {
  background: #b0a69a;
}
.column.zero-row {
  background: #2a2c27;
}
.column.index {
  border: 1px #807872 solid;
  background: #2a2c27;
}
.column.wide {
  width: 84px;
}
.column:hover {
  border: 1px #b0a69a solid;
}
.column.clean {
  border: none;
  width: 42px;
}
.point {
  margin: 0;
  position: relative;
  font-family: HFTIN;
  color: #b0a69a;
  -webkit-font-smoothing: none;
  font-size: 1em;
  font-smooth: none;
  margin-top: 2px;
  text-align: center;
}
.point.ignorable {
  color: #807872;
}
.tracker {
  position: relative;
  border: 1px #54574d solid;
  width: 442px;
  height: 850px;
  float: left;
  margin: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.index-cell {
  font-family: HFTIN;
  font-size: 1em;
  color: #b0a69a;
  margin: 0;
  margin-top: 2px;
  font-smooth: none;
  -webkit-font-smoothing: none;
  text-align: center;
}
.field {
  background: none;
  width: 40px;
  border: none;
  outline: none;
  font-family: HFTIN;
  font-size: 1em;
  color: #b0a69a;
  font-smooth: none;
  -webkit-font-smoothing: none;
  padding: 3px;
}
.field.wide {
  width: 84px;
}
.button {
  background-color: #807872;
  width: 42px;
  height: 15px;
  border-left: 1px #b0a69a solid;
  border-top: 1px #b0a69a solid;
  border-right: 1px #54574d solid;
  border-bottom: 1px #54574d solid;
  outline: none;
  font-family: HFTIN;
  font-size: 1em;
  color: #000;
  font-smooth: none;
  -webkit-font-smoothing: none;
}
.button margin-right,
.button:hover {
  color: #b0a69a;
}
.button:active {
  border-left: 1px #54574d solid;
  border-top: 1px #54574d solid;
  border-right: 1px #b0a69a solid;
  border-bottom: 1px #b0a69a solid;
}
.cell {
  background: none;
  width: 40px;
  border: none;
  outline: none;
  font-family: HFTIN;
  font-size: 1em;
  color: #b0a69a;
  font-smooth: none;
  -webkit-font-smoothing: none;
  height: 13px;
  padding: 3px;
}
.cell.highlight {
  color: #000;
}
.cell:focus {
  border: 1px #b0a69a solid;
  outline: none;
}
