@font-face
  font-family HFNSS
  src url("./hfnss.ttf")

@font-face
  font-family HFGAM
  src url("./HFGAM.ttf")
  
@font-face
  font-family HFTIN
  src url("./HFTIN.ttf")

standardSize    = 2em
biggerSize      = 4em
wayBig          = 8em
cellWidth       = 50px
cellHeight      = 19px

pointColor      = #b0a69a

importantText   = #b39f4b
importanterText = #e3d34b

ignorable         = #807872
veryIgnorable     = #54574d
veryVeryIgnorable = #2a2c27

background      = #030907
backgroundx2    = #06120e
offBackground   = #0a050d
offBlue         = #143b2e
actualBlack     = #000000

critical        = #f21d23
good            = #366317
prettyBlue      = #175cfe

i0 = #807672
i1 = #57524f
i2 = #2c2826
i3 = #131610


body
  background-color background
  margin 0
  padding 0
  
.main
  margin auto
  width 1363
  
.row
  height 13px
  width 100%
  margin 2px
  margin-left 1px
  float left

.column
  width 40px
  height 13px
  border 1px veryIgnorable solid
  margin 1px
  float left
  &.highlight
    background pointColor
  &.zero-row
    background veryVeryIgnorable
  &.index
    border 1px ignorable solid
    background veryVeryIgnorable
  &.wide
    width 84px
  &:hover
    border 1px pointColor solid
  &.clean
    border none
    width 42px


.point
  margin 0
  position relative
  font-family HFTIN
  color pointColor
  -webkit-font-smoothing none
  font-size 1em
  font-smooth none
  margin-top 2px
  text-align center
  &.ignorable
    color ignorable
  
.tracker
  position relative
  border 1px veryIgnorable solid
  width 442px
  height 850px
  float left
  margin 5px 
  overflow-y scroll
  overflow-x hidden
  
.index-cell
  font-family HFTIN
  font-size 1em
  color pointColor
  margin 0
  margin-top 2px
  font-smooth none
  -webkit-font-smoothing none
  text-align center
  
.field
  background none
  width 40px
  border none
  outline none
  font-family HFTIN
  font-size 1em
  color pointColor
  font-smooth none
  -webkit-font-smoothing none
  padding 3px
  &.wide
    width 84px
  
.button
  background-color ignorable
  width 42px
  height 15px
  border-left 1px pointColor solid
  border-top 1px pointColor solid
  border-right 1px veryIgnorable solid
  border-bottom 1px veryIgnorable solid
  outline none
  font-family HFTIN
  font-size 1em
  color actualBlack
  font-smooth none
  -webkit-font-smoothing none 
  margin-right
  &:hover
    color pointColor
  &:active
    border-left 1px veryIgnorable solid
    border-top 1px veryIgnorable solid
    border-right 1px pointColor solid
    border-bottom 1px pointColor solid
 

.cell
  background none
  width 40px
  border none
  outline none
  font-family HFTIN
  font-size 1em
  color pointColor
  font-smooth none
  -webkit-font-smoothing none
  height 13px
  // padding-left 2px
  padding 3px
  &.highlight
    color actualBlack
  &:focus
    border 1px pointColor solid
    outline none


  
